<div class="main-page">
  <span>TestGuru</span>
  <span>Тестов - <%= @tests_count %></span>
  <span>Категорий тестов - <%= @categories_count %></span>

  <%= link_to "Выбрать тест для прохождения", tests_path, class: "button primary" %>
</div>
