<div id="tg-badge-preview" class="tg-badge enabled" style="max-width: 350px">
  <div class="tg-badge-img">
    <img src="<%= badge_url(badge) %>" alt="...">
  </div>

  <div class="tg-badge-body">
    <span class="tg-badge-title">
      <%= badge.title %>
    </span>

    <span class="tg-badge-description">
      <%= badge.description %>
    </span>
  </div>
</div>
