<footer class="text-small">
  <div class="container">
    <p>
      @ 2022 - <%= current_year %>, <%= Rails.application.config.author %>
    </p>

    <p>
      <%= t("common.footer.description", service_name_link: github_url("TestGuru", "romatoom", "test-guru", target: "_blank")).html_safe %>
    </p>

    <p>
      <%= t("common.footer.school_ref", school_name_link: link_to("Thinknetica", "https://thinknetica.com/", target: "_blank")).html_safe %>
    </p>
  </div>
</footer>
