<footer class="text-small">
  <div class="container">
    <p>
      @ 2022 - <%= current_year %>, <%= Rails.application.config.author %>
    </p>

    <p>
      Сервис <%= link_to "TestGuru", github_url("romatoom", "test-guru"), target: "_blank" %> Включает в себя систему управления тестами (создания, редактирования, удаления). Созданные тесты можно проходить пользователям, зарегистрированным в системе.
    </p>

    <p>
      Учебный проект в онлайн-школе <%= link_to "Thinknetica", "https://thinknetica.com/", target: "_blank" %>
    </p>
  </div>
</footer>
