    <header>
      <div class="container">
        <div class="space"></div>
        <% if logged_in? %>
          <span class="login-at">Вы вошли, как <strong><%= current_user.name %></strong></span>
        <% end %>
      </div>
    </header>
