<div id="countdown" class="countdown mb-5" data-initial-seconds-left="<%= initial_seconds_left %>">
  <div class="hours">--</div>
  <div>:</div>
  <div class="minutes">--</div>
  <div>:</div>
  <div class="seconds">--</div>
</div>
