@import 'vars';

.flash {
  padding: 10px 20px;
  font-size: 12px;
  margin: 0;
  border: 1px solid;

  &.warning {
    border-color: $warning-color;
    color: $warning-color;
    background-color: $warning-light-color;
  }

  &.alert {
    border-color: $danger-color;
    color: $danger-color;
    background-color: $danger-light-color;
  }

  &.success {
    border-color: $success-color;
    color: $success-color;
    background-color: $success-light-color;
  }

  &.notice {
    border-color: $info-color;
    color: $info-color;
    background-color: $info-light-color;
  }
}
