header {
  padding: 20px 0;
  color: #fff;
  background-color: #369;

  &>div.container {
    display: flex;

    &>.logo {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
    }

    &>.space {
      width: 100%;
    }

    &>.auth_block {
      display: flex;
      white-space: nowrap;
      gap: 10px;
      align-items: center
    }

    &>.login-at {
      white-space: nowrap;
      text-align: right;
    }
  }
}
