// Colors
$danger-color: #c24;
$danger-light-color: #fdc;
$success-color: #2c4;
$success-light-color: #dfd;
$warning-color: #ea3;
$warning-light-color: #fec;
$info-color: #555;
$info-light-color: #ccc;
$white-color: #fff;
