<h1>Все тесты</h1>

<% if @tests.any? %>
<table class="mb">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th class="text-align-center">Уровень сложности</th>
      <th>Категория</th>
      <th>Автор</th>
      <th class="text-align-center">Количество вопросов</th>
      <th class="text-align-center">Действия</th>
    </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>
<% else %>
<p class="mb">Ещё не создан ни один тест</p>
<% end %>
