<nav class="navbar text-white">
  <div class="container">
    <%= link_to t("common.header.title", service_name: "TestGuru"), root_path, class: "navbar-brand text-white" %>

    <div>
      <span class="me-2">
        <%= t("common.header.login_at", username: "#{current_user.fullname}").html_safe %>
      </span>
      <%= link_to t("common.header.logout"), destroy_user_session_path, class: "btn btn-light", method: "delete" %>
    </div>
  </div>
</nav>
